table {
	border-collapse : collapse;
}

table td, table th {
	border: 0px solid black ;
	padding : 0; 
}

table tr {
	vertical-align: top;
}

.header{
	background-color:#4B6C9E;
	color:white;
	font-weight: bold;
}